*{
  /* margin: 0px; */
  /* padding: 0px; */
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

.pg2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  padding: 5%;
}

 .details1, .details2{
  position: relative;
  top: 10px;
  padding: 2%;
  /* width: 800px; */
}

.pg2-1{
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle{
  position: relative;
  top: 150px;
  /* width: 90%; */
  /* background-color: red; */
  /* padding: 10px; */
  /* left: 100px; */
}

.btn-810{
  display: flex;
  background-color: green;
  /* width: 30%; */
  /* height: 60px; */
  left: 30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 200px;
}

.btn4{
  position: relative;
  left: 30px;
}

.btn-810 button, .btn4{
  padding: 10px;

}
.transport{
  position: relative;
  top: 230px;
}

.news{
  position: relative;
  top: 300px;
}

.test, .request-form{
  position: relative;
  top: 800px;
}